@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(15, 23, 42);
  color: white;
  cursor: default;
}

textarea::-webkit-scrollbar {
  display: none;
}